@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
  font-family: 'Cocogoose';
  src: url(Assets/Cocogoose_trial.otf);
  src: local('Cocogoose'), url(Assets/Cocogoose_trial.otf) format('truetype');
}

/* ### PreProcessing ### */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --colorBl: #272a31;
  --colorOr: #ec5242;
  --colorWh: #d3d3d3;
  --colorGr: rgb(65, 65, 72);
  --fontSize-h2: 1.8rem;
  --fontSize-h1: 2.5rem;
  --fontSize-h3: 1.2rem;
  --font-size-p: 1.05rem;
  --fontFamily-coco: 'Cocogoose', san-serif;
  --fontFamily-lato: 'Lato', sans-serif;
}

h1 {
  font-size: var(--fontSize-h1);
  font-family: var(--fontFamily-lato);
}

h2 {
  font-size: var(--fontSize-h2);
  font-family: var(--fontFamily-coco);
}

h3 {
  font-size: var(--fontSize-h3);
}

p {
  font-size: var(--font-size-p);
}

/* ##### Mobile Version ##### */
/* ### Header ### */
.container-fluid {
  display: flex;
  width: 90%;
  margin: auto;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-top {
  display: none;
}

.navbar-main {
  display: flex;
  background-color: rgba(255, 255, 255, 0);
}

.collapse {
  display: none;
}

.navbar-main__brand img {
  width: 80px;
  height: 80px;
}

#navbar-main__toggler {
  border: 0px;
  font-size: 2rem;
  color: rgb(77, 75, 75);
  margin: 20px 0 20px 0;
  background-color: inherit;
}

/* ### headline section ### */
#headline {
  position: relative;
}

#headline::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url('/Assets/images/rock.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  z-index: -1;
}


#headline .container-fluid {
  flex-direction: column;
  justify-content: center;
  min-height: 500px;
  padding: 140px 0 10%;
}

#headline h2 {
  font-size: var(--fontSize-h2);
  color: var(--colorOr);
  font-family: var(--fontFamily-coco);
  font-weight: 500;
}

#headline h1 {
  font-size: var(--fontSize-h1);
  font-weight: 900;
  background-image: url('/Assets/images/Text-bg.png');
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
}

#headline p {
  font-size: var(--font-size-p);
  line-height: 1.5;
}

.headline__message {
  border: 1px solid white;
  padding: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.headline__date {
  color: var(--colorBl);
  font-size: var(--fontSize-h2);
  text-align: center;
}

.headline__location {
  color: var(--colorBl);
  text-align: center;
}

/* ### Events Section ### */
#events {
  background: #272a31 url('/Assets/images/pattern-bg.png');
}

#events .container-fluid {
  flex-direction: column;
  width: 90%;
  min-height: 300px;
  justify-content: center;
  margin: auto;
  align-content: center;
  padding: 10% 0 10%;
}

.events__head h2 {
  color: var(--colorWh);
  text-align: center;
  font-family: var(--fontFamily-lato);
}

.section__hr {
  width: 40px;
  margin: auto;
  margin-top: 10px;
  border-color: var(--colorOr);
  margin-bottom: 30px;
}

.events__grid {
  display: grid;
  grid-template: repeat(5, 1fr) / 1fr;
  gap: 20px;
}

.events__cards {
  background-color: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template: 1fr /0.3fr 0.9fr 3fr;
  justify-content: left;
  align-items: center;
  align-content: space-between;
  padding: 5%;
  gap: 15px;
}

.events__cards i {
  font-size: 3rem;
  color: var(--colorWh);
}

.events__cards h3 {
  color: var(--colorOr);
  text-align: center;
  min-width: 83px;
}

.events__cards p {
  color: var(--colorWh);
}

#participate {
  height: 80px;
  width: 80%;
  margin: auto;
  font-size: var(--fontSize-h3);
  margin-top: 50px;
  font-weight: bold;
  color: var(--colorWh);
  background-color: var(--colorOr);
}

/* ### featured singers section ### */
#featured-singers {
  margin: 10% 0 10%;
}

#featured-singers .container-fluid {
  width: 90%;
  margin: auto;
  display: grid;
  gap: 50px;
  align-items: center;
}

.featured-singers__head h2 {
  color: var(--colorBl);
  font-family: var(--fontFamily-lato);
  font-weight: 600;
  text-align: center;
}

#more {
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d3d3d3;
  font-size: var(--fontSize-h3);
  font-family: var(--fontFamily-lato);
}

#more i {
  color: var(--colorOr);
  font-size: 1rem;
  padding-left: 5px;
}

.singer {
  display: flex;
}

.featured-singers__img {
  position: relative;
}

.featured-singers__img img {
  width: 130px;
  height: 130px;
  margin: 12px 20px 0 12px;
}

.featured-singers__img::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 70px;
  height: 70px;
  top: 0px;
  left: 0px;
  background: url('/Assets/images/speakerbg.png');
  opacity: 0.7;
  border: 1px solid black;
}

.featured-singers__desc hr {
  width: 30px;
  color: var(--colorWh);
  margin: 6px 0 10px;
}

.toggle {
  display: none;
}

.featured-singers__desc h3 {
  font-family: var(--fontFamily-lato);
  color: var(--colorBl);
  font-weight: 800;
}

.featured-singers__desc h4 {
  margin-top: 10px;
  font-family: var(--fontFamily-coco);
  color: var(--colorOr);
  font-style: italic;
  font-weight: 400;
}

/* ### About-Me page ### */

#about-hero {
  position: relative;
}

#about-hero::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-image: url('/Assets/images/about.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  z-index: -1;
}

#about-hero .container-fluid {
  flex-direction: column;
  justify-content: center;
  min-height: 500px;
  padding: 140px 0 10%;
}

#about-hero h2 {
  font-size: var(--fontSize-h2);
  text-align: center;
  color: var(--colorOr);
  font-family: var(--fontFamily-coco);
  font-weight: 500;
}

#about-hero h1 {
  color: var(--colorOr);
  text-align: center;
  font-size: var(--fontSize-h1);
  font-weight: 900;
}

.about-hero__message {
  background-color: white;
  padding: 5%;
  border: 1px var(--colorWh);
  margin-top: 5%;
}

#about-hero p {
  font-size: var(--font-size-p);
  text-align: center;
  line-height: 1.5;
}

.about-hero__contact {
  color: var(--colorBl);
  text-align: center;
  font-weight: normal;
  margin-top: 5%;
}

#about-hero a {
  color: var(--colorBl);
  font-weight: 900;
  text-align: center;
  margin-top: 10px;
}

/* ### About Logo ### */
#about-logo {
  margin: 10% 0 0;
  padding-bottom: 10%;
  border-bottom: 0.5px solid #d9dbdd;
}

#about-logo .container-fluid {
  width: 90%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-logo h2 {
  color: var(--colorBl);
  font-weight: 500;
  text-align: center;
  font-family: var(--fontFamily-lato);
}

#about-logo p {
  color: var(--colorBl);
  font-weight: normal;
  text-align: center;
  font-family: var(--fontFamily-lato);
}

.about-logo__show {
  display: flex;
  justify-content: center;
  padding: 5%;
  border: 1px solid var(--colorWh);
  margin-top: 9%;
}

.about-logo__show img {
  width: 50%;
}

/* ### About Past ### */
#about-past {
  margin: 10% 0 10%;
}

#about-past .container-fluid {
  width: 90%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-past h2 {
  color: var(--colorBl);
  font-weight: 500;
  text-align: center;
  font-family: var(--fontFamily-lato);
}

#about-past p {
  color: var(--colorBl);
  font-weight: normal;
  text-align: center;
  font-family: var(--fontFamily-lato);
}

.about-past__grid {
  margin: 10% 0 10% 0;
  width: 100%;
  align-items: center;
  gap: 10%;
  display: grid;
  grid-template: 1fr 1fr /1fr;
}

.card1 {
  min-height: 250px;
  position: relative;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(177, 19, 19, 0.6);
}

.card2 {
  min-height: 250px;
  position: relative;
  width: 100%;
  background: rgba(177, 19, 19, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card1::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("/Assets/images/past1.jpg") 0 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.card2::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("/Assets/images/past2.jpeg") 0 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-past__cards h3 {
  text-align: center;
  font-size: 2rem;
  color: var(--colorWh);
  font-family: var(--fontFamily-lato);
}

#about-past .about-past__cards p {
  text-align: center;
  color: var(--colorWh);
}

/* ### Partners ### */
#partners {
  margin: 80px 0 0;
  background: var(--colorGr);
  min-height: 150px;
}

#partners .container-fluid {
  padding: 10% 0 10%;
  width: 90%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#partners h2 {
  color: white;
  font-weight: 500;
  text-align: center;
  font-family: var(--fontFamily-lato);
}

.partner__flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.partner__flex a {
  text-decoration: none;
  color: rgb(201, 186, 186);
  font-size: 1.9rem;
  text-align: center;
  margin-top: 20px;
}

.google {
  width: 33%;
}

.slack {
  width: 33%;
}

.airbnb {
  width: 33%;
}

.soundcloud {
  width: 50%;
}

.reddit {
  width: 50%;
}

/* ### footer ### */
#footer {
  padding: 5px 0 5px;
}

#footer .container-fluid {
  width: 90%;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
}

#footer img {
  width: 130px;
  margin-right: 20px;
}

#footer .container-fluid p {
  font-family: var(--fontFamily-lato);
  font-weight: normal;
  font-size: 0.7rem;
  color: var(--colorBl);
}